{% load static %}

<!DOCTYPE html>
<html>

	<head>
		<title>MackEnquetes</title>
		<link rel="stylesheet" type="text/css" href="{% static 'enquetes/style_detalhes.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'enquetes/setup.css' %}">
		<link rel="shortcut icon" href="{% static 'enquetes/img/favicon.ico' %}">

	</head>
	<body>
		<header class="title_cont">
			<article class="title">
				<h1>MackEnquetes</h1>
			</article>
			<article>
				<h1 class="m">/ M /</h1>
			</article>
		</header>

		<section class="outter">
			<article class="title">
				<h2> - Enquetes - </h2>
			</article>
			<section class="formm_cont">
				<article>
					{% if erro %}
						<article class="erro">
							<p> <strong>{{ erro }}</strong></p>
						</article>
					{% endif %}
					<section class="formm">
						<article>
							<h3> {{ pergunta.enunciado }} </h3>
							<form action="{% url 'enquetes:votar' pergunta.id %}" method="post">
								{% csrf_token %}
								{% for escolha in pergunta.escolha_set.all %}
									<article class="boxes">
									    <input type="radio" name="escolha" id="escolha{{ forloop.counter }}" value="{{ escolha.id }}">
									    <label for="escolha{{ forloop.counter }}">{{ escolha.texto }}</label>
									</article>
								{% endfor %}

								<input type="submit" value="Votar">

							</form>
						</article>
					</section>
				</article>
			</section>
			<section class="return">
				<a href="{% url 'enquetes:index' %}">Voltar</a>
			</section>

			<footer>
				<article>
					<p>Powered by</p>
					<i class="faz">FAZ O WHILE</i>
				</article>
			</footer>
		</section>

	</body>
</html>














