{% load static %}

<!DOCTYPE html>
<html>

	<head>
		<title>MackEnquetes</title>
		<link rel="stylesheet" type="text/css" href="{% static 'enquetes/style_index.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'enquetes/setup.css' %}">
		<link rel="shortcut icon" href="{% static 'enquetes/img/favicon.ico' %}">

	</head>
	<body>
		<header class="title_cont">
			<article class="title">
				<h1>Mack Enquetes</h1>
			</article>
			<article>
				<h1 class="m">/ M /</h1>
			</article>
		</header>
		<section class="outter">
			<section class="inner">
				<article class="title">
					<h2> - Questionary -</h2>
				</article>
				<article>
					{% if enquetes %}
					    <ul class="perguntas_cont">
					        {% for enquete in enquetes %}
					        	<li class="perguntas">
					        		<article class="nani">
					        			<a href="{% url 'enquetes:detalhes' enquete.id %}">img</a>
					        		</article>
					        		<article>
					        			<p class="enun">{{ enquete.enunciado }}</p>
					        		</article>
					        	</li>
					        {% endfor %}
					    </ul>
					{% else %}
						<section class="blank_cont">
						    <section>
						    	<article class="blank"></article>
						    	<article class="sorry">
						    		<p>Sorry but we're out of questions...</p>
						    	</article>
						    </section>
					   	</section>
					{% endif %}
				</article>
				<footer>
					<article>
						<p>Powered by</p>
						<i class="faz">FAZ O WHILE</i>
					</article>
				</footer>
			</section>
		</section>
	</body>
</html>
