<!DOCTYPE html>
<html lang="pt-br">

	<head>
		<title>MackEnquetes</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='../../static/style_login.css')}}">
		<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='../../static/img/favicon.ico')}}">
		<meta charset="utf-8">

	</head>
	<body>
		<section class="outter">
			<article>
				<h3><i> Admin Login</i> </h3>
				<form action = "{{ request.path }}" method = "post">
					<input type = "text" name = "usuario" placeholder="Usuário"/><br>
					<input type = "password" name = "senha" placeholder="Senha" /><br>
					<input type = "submit" value = "Submit"  class="submit" />
				</form>
			  	{%- for category, message in get_flashed_messages(with_categories = true) %}
			        <div class="erro">
			        	{{ message }}
			    	</div>
			    {%- endfor %}
			</article>
		</section>
	</body>
</html>
